::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.main {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100% - 50px);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  padding-left: 10px;
}

.navlink {
  border: 1px solid red;
  width: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  flex-wrap: wrap;
}

.active-tab {
  font-weight: bold;
}

/*toggle button*/

.toggle-wrapper {
  border: 1px solid red;
  width: 150px;
}

.toggle-text {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.switch input {
  position: absolute;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  top: 0.5px;
  left: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.dark {
  background-color: #fff;
  border: black 0.5px solid;
}

.slider.dark:before {
  background-image: url(./components/assets/sun.svg);
  background-color: transparent;
  top: inherit;
}

input:checked + .slider.dark {
  background-color: rgb(92, 90, 90);
}

input:checked + .slider.dark:before {
  background-image: url(./components/assets/fullmoon.svg);
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
