::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.main {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100% - 50px);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.sorry {
  font-size: 50px;
  color: red;
}


